<div class="terms-page fadein-effect">

  <section class="container-fluid logo-container">
    <img src="../assets/pictures/logo.png">
    <h2>Ask - Vote - Comment</h2>
  </section>

  <section class="content container">
    <div class="back-link">
      <a href="#/home"><i class="fa fa-chevron-left" aria-hidden="true"></i> Return to Home page</a>
    </div>
    <div class="row">
      <p>AskUs is an application provided to the public and Apple Store by the Owner.</p>

      <p>This Agreement (“Agreement”) is between you and AskUs and governs use of this app made available through the Apple App Store. By installing the AskUs Application, you agree to be bound by this Agreement and understand that there is no tolerance for objectionable content. If you do not agree with the terms and conditions of this Agreement, you are not entitled to use the AskUs Application.</p>

      <p>In order to ensure AskUs provides the best experience possible for everyone, we strongly enforce a no tolerance policy for objectionable content. If you see inappropriate content, please use the "Report as offensive" feature found under each post.</p>

      <p>1. Parties This Agreement is between you and AskUs only, and not Apple, Inc. (“Apple”). Notwithstanding the foregoing, you acknowledge that Apple and its subsidiaries are third party beneficiaries of this Agreement and Apple has the right to enforce this Agreement against you. AskUs, not Apple, is solely responsible for the AskUs Application and its content.</p>

      <p>2. Privacy AskUs may collect and use information about your usage of the AskUs Application, including certain types of information from and about your device. AskUs may use this information, as long as it is in a form that does not personally identify you, to measure the use and performance of the AskUs Application.</p>

      <p>3. Limited License AskUs grants you a limited, non-exclusive, non-transferable, revocable license to use theAskUs Application for your personal, non-commercial purposes. You may only use theAskUs Application on Apple devices that you own or control and as permitted by the App Store Terms of Service.</p>

      <p>4. Age Restrictions By using the AskUs Application, you represent and warrant that (a) you are 12 years of age or older and you agree to be bound by this Agreement; (b) if you are under 12 years of age, you have obtained verifiable consent from a parent or legal guardian; and (c) your use of the AskUs Application does not violate any applicable law or regulation. Your access to the AskUs Application may be terminated without warning if AskUs believes, in its sole discretion, that you are under the age of 12 years and have not obtained verifiable consent from a parent or legal guardian. If you are a parent or legal guardian and you provide your consent to your child's use of the AskUs Application, you agree to be bound by this Agreement in respect to your child's use of the AskUs Application.</p>

      <p>5. Objectionable Content Policy Content may not be submitted to AskUs, who will moderate all content and ultimately decide whether or not to post a submission to the extent such content includes, is in conjunction with, or alongside any, Objectionable Content. Objectionable Content includes, but is not limited to: (i) sexually explicit materials; (ii) obscene, defamatory, libelous, slanderous, violent and/or unlawful content or profanity; (iii) content that infringes upon the rights of any third party, including copyright, trademark, privacy, publicity or other personal or proprietary right, or that is deceptive or fraudulent; (iv) content that promotes the use or sale of illegal or regulated substances, tobacco products, ammunition and/or firearms; and (v) gambling, including without limitation, any online casino, sports books, bingo or poker.</p>

      <p>6. Warranty AskUs disclaims all warranties about the AskUs Application to the fullest extent permitted by law. To the extent any warranty exists under law that cannot be disclaimed, AskUs, not Apple, shall be solely responsible for such warranty.</p>

      <p>7. Maintenance and Support AskUs does provide minimal maintenance or support for it but not to the extent that any maintenance or support is required by applicable law, AskUs, not Apple, shall be obligated to furnish any such maintenance or support.</p>

      <p>8. Product Claims AskUs, not Apple, is responsible for addressing any claims by you relating to the AskUs Application or use of it, including, but not limited to: (i) any product liability claim; (ii) any claim that the AskUs Application fails to conform to any applicable legal or regulatory requirement; and (iii) any claim arising under consumer protection or similar legislation. Nothing in this Agreement shall be deemed an admission that you may have such claims.</p>

      <p>9. Third Party Intellectual Property Claims AskUs shall not be obligated to indemnify or defend you with respect to any third party claim arising out or relating to the AskUs Application. To the extent AskUs is required to provide indemnification by applicable law, AskUs, not Apple, shall be solely responsible for the investigation, defense, settlement and discharge of any claim that the AskUs Application or your use of it infringes any third party intellectual property right.</p>

      <h4>Intellectual Property</h4>
      <p>The Application is protected by the applicable law. All elements of the application are exclusive property of the application Owner. Any representation, reproduction, modification, use for commercial purpose or not, and every transfert towards website or another platform are strickly forbidden, except under express written authorization of the applicaiton Owner.</p>

      <h4>User data deletion</h4>
      <p>Registered user can delete their account and data. By deleting their account, all the user informations and posts will be removed from the application database, and the user access to the AskUs Facebook application will be canceled</p>
    </div>

  </section>
</div>
