<div class="home-page fadein-effect">



  <section class="container-fluid logo-container">
    <img src="../assets/pictures/logo.png">
    <h2>Ask - Vote - Comment</h2>
  </section>

  <section class="content container">

    <div class="store row">
    <a href="">
      <img src="../assets/pictures/ios-soon.png" class="ios">
    </a>
    <a href="">
      <img src="../assets/pictures/google-soon.png" class="android">
    </a>
    </div>

    <div class="contact col-xs-12">
      <h2>Contact us</h2>
      You need to contact the support because you have an issue with application, question or suggestion?<br>
      Please <a href="mailto:rdeswarte.sf@gmail.com"> Click here to send us an email</a>
    </div>

  </section>




</div>
