<div class="privacy-page fadein-effect">

  <section class="container-fluid logo-container">
    <img src="../assets/pictures/logo.png">
    <h2>Ask - Vote - Comment</h2>
  </section>

  <section class="content container">
  <div class="back-link">
      <a href="#/home"><i class="fa fa-chevron-left" aria-hidden="true"></i> Return to Home page</a>
    </div>
    <div class="row">
    <p>AskUs is an application provided to the public and Apple Store by the Owner.</p>

  <h3>Types of Data collected</h3>

  <p>The owner does not provide a list of Personal Data types collected.</p>

  <p>
    Other Personal Data collected may be described in other sections of this privacy policy or by dedicated explanation text contextually with the Data collection.<br>
    The Personal Data may be freely provided by the User, or collected automatically when using this Application.<br>
    Any use of Cookies - or of other tracking tools - by this Application or by the owners of third party services used by this Application, unless stated otherwise, serves to identify Users and remember their preferences, for the sole purpose of providing the service required by the User.<br>
    Failure to provide certain Personal Data may make it impossible for this Application to provide its services.
  </p>

  <p>Users are responsible for any Personal Data of third parties obtained, published or shared through this Application and confirm that they have the third party's consent to provide the Data to the Owner.</p>

  <h3>Mode and place of processing the Data</h3>

  <h4>Methods of processing</h4>

  <p>
    The Data Controller processes the Data of Users in a proper manner and shall take appropriate security measures to prevent unauthorized access, disclosure, modification, or unauthorized destruction of the Data.
    The Data processing is carried out using computers and/or IT enabled tools, following organizational procedures and modes strictly related to the purposes indicated. In addition to the Data Controller, in some cases, the Data may be accessible to certain types of persons in charge, involved with the operation of the site (administration, sales, marketing, legal, system administration) or external parties (such as third party technical service providers, mail carriers, hosting providers, IT companies, communications agencies) appointed, if necessary, as Data Processors by the Owner. The updated list of these parties may be requested from the Data Controller at any time.
  </p>

  <h4>Retention time</h4>

  <p>
    The Data is kept for the time necessary to provide the service requested by the User, or stated by the purposes outlined in this document, and the User can always request that the Data Controller suspend or remove the data.
  </p>

  <h4>Data Storage</h4>

  <p>
    The data are stored in <b>Firebase Database (Google Inc.)</b>, and pictures are stored in <b>Amazon Web Services (Amazon Inc.)</b>
  </p>
  <p>
    Registered user can delete their account and data. By deleting their account, all the user informations and posts will be removed from the application database, and the user access to the AskUs Facebook application will be canceled.
  </p>

  <h3>The use of the collected Data</h3>

  <p>The Data concerning the User is collected to allow the Owner to provide its services, as well as for the following purposes: Registration and authentication.</p>

  <p>The Personal Data used for each purpose is outlined in the specific sections of this document.</p>

  <h3>Detailed information on the processing of Personal Data</h3>

  <p>Personal Data is collected for the following purposes and using the following services:</p>  

  <h4>Registration and authentication</h4>

  <p>
    By registering or authenticating, Users allow this Application to identify them and give them access to dedicated services.<br>
    Depending on what is described below, third parties may provide registration and authentication services. In this case, this Application will be able to access some Data, stored by these third party services, for registration or identification purposes.
  </p>

  <p><b>Facebook Authentication (Facebook, Inc.)</b></p>

  <p>Facebook Authentication is a registration and authentication service provided by Facebook, Inc. and is connected to the Facebook social network.</p>

  <p>Personal Data collected: various types of Data as specified in the privacy policy of the service.</p>

  <p>Place of processing: US – <a href="https://www.facebook.com/help/">Privacy Policy</a></p>

  <h4>Analytics</h4>

  <p>The application only allows the Owner to monitor and analyze web traffic and can use it to keep track of User behavior.</p>

  <p><b>Google Analytics (Google Inc.)</b></p>

  <p>
    Google Analytics is a web analysis service provided by Google Inc. (“Google”). Google utilizes the Data collected to track and examine the use of this Application, to prepare reports on its activities and share them with other Google services.<br>
    Google may use the Data collected to contextualize and personalize the ads of its own advertising network.<br>
    Personal Data collected: Cookies and Usage data.<br>
    Place of processing: US – <a href="https://www.google.com/intl/en/policies/privacy/">Privacy Policy</a> – <a href="https://tools.google.com/dlpage/gaoptout?hl=en">Opt Out</a>
  </p>

  <p>AskUs is not responsible for, and expressly disclaims all liability for, damages of any kind arising out of use, reference to, or reliance on any information contained within the application. While the information contained within the application is periodically updated, no guarantee is given that the information provided in this Web application is correct, complete, and up-to-date.</p>

  <p>Although the AskUs application may include links providing direct access to other Internet resources, AskUs is not responsible for the accuracy or content of information contained in these applications.</p>

  <p>You can contact AskUs support by clicking here : <a href="mailto:rdeswarte.sf@gmail.com">Email Support</a></p>

  <h3>Additional information about Data collection and processing</h3>
  <h4>Legal action</h4>

  <p>
    The User's Personal Data may be used for legal purposes by the Data Controller, in Court or in the stages leading to possible legal action arising from improper use of this Application or the related services.
    The User declares to be aware that the Data Controller may be required to reveal personal data upon request of public authorities.
  </p>

  <h4>Additional information about User's Personal Data</h4>

  <p>In addition to the information contained in this privacy policy, this Application may provide the User with additional and contextual information concerning particular services or the collection and processing of Personal Data upon request.</p>

  <h4>System Logs and Maintenance</h4>

  <p>For operation and maintenance purposes, this Application and any third party services may collect files that record interaction with this Application (System Logs) or use for this purpose other Personal Data (such as IP Address).</p>

  <h4>Information not contained in this policy</h4>

  <p>More details concerning the collection or processing of Personal Data may be requested from the Data Controller at any time. Please see the contact information at the beginning of this document.</p>

  <h4>The rights of Users</h4>

  <p>
    Users have the right, at any time, to know whether their Personal Data has been stored and can consult the Data Controller to learn about their contents and origin, to verify their accuracy or to ask for them to be supplemented, cancelled, updated or corrected, or for their transformation into anonymous format or to block any data held in violation of the law, as well as to oppose their treatment for any and all legitimate reasons. Requests should be sent to the Data Controller at the contact information set out above.<br>

    This Application does not support “Do Not Track” requests.
    To determine whether any of the third party services it uses honor the “Do Not Track” requests, please read their privacy policies.
  </p>

  <h4>Changes to this privacy policy</h4>

  <p>The Data Controller reserves the right to make changes to this privacy policy at any time by giving notice to its Users on this page. It is strongly recommended to check this page often, referring to the date of the last modification listed at the bottom. If a User objects to any of the changes to the Policy, the User must cease using this Application and can request that the Data Controller remove the Personal Data. Unless stated otherwise, the then-current privacy policy applies to all Personal Data the Data Controller has about Users.</p>

  <h4>Information about this privacy policy</h4>

  <p>The Data Controller is responsible for this privacy policy, prepared starting from the modules provided by Iubenda and hosted on Iubenda's servers.</p>
  </div>
  </section>
</div>
