.home-page {
  .content {
    .store {
      text-align: center;
      margin: 30px 0px 20px;
      a {
        margin-bottom: 10px;
        display: inline-block;
        padding: 0px 10px;
        img {
          width: 100%;
          max-width: 250px;
          &.android {
            max-width: 215px;
          }
        }
      }
    }
    .description {
      text-align: center;
      h3 {
        font-weight: bold;
        font-size: 18px;
        margin-top: 10px;
        line-height: 25px;
        margin-bottom: 0px;
      }
    }
    .pictures-container {
      margin-top: 40px;
      .picture-container {
        margin-bottom: 20px;
        img {
          max-width: 100%;
        }
      }
    }
    .contact {
      margin-top: 10px;
      margin-bottom: 30px;
    }
    .legals {
      margin-bottom: 30px;
      h2 {
        margin-bottom: 20px;
      }
      .legal-container {
        display: inline-block;
        margin-bottom: 30px;
        &.first {
          margin-right: 20px;
        }
        a {
          background-color: $mainColor;
          color: $whiteColor;
          padding: 10px 10px 8px;
          border-radius: 10px;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
